//
// Fonts
//
// (Just importing the fonts used throughout the site.)

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,WONK@0,9..144,100..900,1;1,9..144,100..900,1&family=Inter:wght@100..900&display=swap');
